a:link {
    color: orangered;
}

a:visited {

    color: aquamarine;
}


a:hover {
    color: orange;
    font-size: 22px;
}

a:focus  {
    color: orange;
    font-size: 32px;
}

a:active {

    color: pink;
}